@font-face {
    font-family: "Roboto-Light";
    src: url("font-style/Roboto-Light.ttf");
}

@font-face {
    font-family: "futurak";
    src: url("font-style/futurak.ttf");
}
@font-face {
    font-family: "lora";
    src: url(/font-style/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family:"Frank" ;
    src: url(font-style/FrankRuhlLibre-VariableFont_wght.ttf);
}
/* .carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel img {
  width: 100%;
  height: auto;
} */


body {
    margin: 0px;
}


.main {
    background-color: black;
    margin-bottom: 0px;

    /* padding-top: 10px auto; */
    /* padding-bottom: 10px auto; */
    /* margin: auto; */

}

/* .salt{
    display: inline;
} */
div>a {
    color: white;
    text-decoration: none;
    /* background-color: rgba(17, 209, 81, 0.541); */
    /* padding:0px 0px 0PX 40PX; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.get-franchise {
    padding: 18px;
    border-style: solid;
    border-radius: 35px;
    border-color: white;
    background-color: black;
    color: white;

}

.order-online {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 35px;
    border-style: solid;
    border-color: red;
    background-color: red;
    color: white;
}

.nav {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI' Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-arrow {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.welcome {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-top: 64px;
    /* font-family:  "Roboto-Light"; */
}

.para {
    margin-bottom: 0px;
    margin-top: 0px;
}



.order {
    font-size: 17px;
    color: gray;
    padding-top: 5px;
    padding-bottom: 40px;
}

.salt-image {
    background-color: white;
    padding: 30px 20px;
    width: 210px;
    border-radius: 5px;
}

.saltn {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 155px;
}

.buttons1 {
    text-align: center;

}

.order-now {
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 35px;
    background-color: black;
    color: white;
    padding: 15px 50px;
    margin-top: 20px;

}

.order-now1 {
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 35px;
    background-color: black;
    color: white;
    padding: 15px 33px;
    margin-top: 20px;
}

.franchise {
    /* font-family: "futurak"; */
    background-color: rgb(10, 9, 9);
    font-size: 55px;
    text-align: center;
    color: white;
    padding-top: 70px;
}

.order {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.r-franch{
    margin-top: 0px;
    margin-bottom: 0px;
}
.order1{
    margin-top: 0px;
    color: rgb(206, 197, 197);
}
.islamabad-pic{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.islamabad{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: red;
    letter-spacing: 8px;
    font-size: 15px;
    margin-bottom: 0px;
}
.saltn-font1{
    font-family: "futurak";
    font-size: 33px;
    
}

.salt-rast-para{
    margin: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 33px;
    /* margin-top: 0px; */

}
.islamabad-para{
    text-align: left;
}
.Plot-55{
    font-size: 17px;
    color: rgb(206, 197, 197);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}
.phone{
    font-size: 17px;
    color: rgb(206, 197, 197);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.butt-directions{
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 35px;
    background-color: rgb(10, 9, 9);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: "lora";
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.right-arrow{
    background-color: red;
    border-radius: 360px;
}
.islamabad-pic1{
    display: flex;
    justify-content: left;
    gap: 45px;
    flex-direction: row;
    padding-left: 100px;
} 
.islamabad-pic2{
    padding-bottom: 50px;
}
.express-franchises{
   
    padding-top: 70px;
}
.saltn-font-large{
    font-family: "futurak";
    color: white;
    font-size: 55px;
    text-align: center;
    margin-bottom: 0px;
}
.express-f{
    /* font-family:"Frank" ; */
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 200;
}

.malls{
    /* padding-top: 30px; */
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 73px;
    padding-right: 73px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.Packages-mall{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.red-words{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    font-size: small;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.saltn-font2{
    font-family: "futurak";
    font-size: 25px;
}
.express{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-top: 0px;
    color: white;
    
}
.location{
    font-size: 15px;
    color: rgb(206, 197, 197);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
}
/* .tab{
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 35px;
    background-color: rgb(10, 9, 9);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: "lora";
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px
} */
.img-div{
    width: 25.5vw;
    height: 39vh;
    
}
.map-phone-butt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.buttons2{
    padding-left: 90px;
}

